body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 500;
  line-height: 1.4;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 1005;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
 
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  gap: 76px;
}
.header-studio {
  color: #2e2f42;
}
.studio {
  color: #f4f4fd;
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-items-link {
  color: #2e2f42;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-items-link:hover {
  color: #404bbf;
}
.header-items-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-items {
  font-style: normal;
}
.contacts-items-link {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-items-link:hover {
  color: #404bbf;
}
.contacts-items-link:focus {
  color: #404bbf;
}
.business {
  background: #2e2f42;
  padding: 188px 0;
}
.business-title {
  color: #ffffff;
  max-width: 496px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
}
.business-button {
  color: #fff;
  padding: 16px 32px;
  display: block;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
  border: none;
  min-width: 169px;
}
.business-button:hover {
  background-color: #404bbf;
}
.business-button:focus {
  background-color: #404bbf;
}
.benifits {
  background: #fff;
  margin-bottom: 8px;
}
.first {
  border-radius: 0px 0px 4px 4px;
}
.benifits-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.benifits-items {
  width: calc((100% - 3 * 24px) / 4) ;
}
.benifits-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benifits-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-items {
  background-color: #ffffff;
  width: calc((100% - 24 * 3) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-descr {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding: 32px 0;
}
.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px; 
}
.team-text {
  color: #434455;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.portfolio {
  padding: 32px 16px;
}
.portfolio-list {
  display: flex;
  margin-top: 71px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px; 
}
.portfolio-descr {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 0;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}